* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x:hidden;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: lowercase;
}

.first, .second, .third, .fourth {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.first, .fourth {
	height: 100vh;
}

.second, .third {
	padding-top: 10%;
	padding-bottom: 10%;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 35px;
}

h4 {
	font-size: 25px;
	font-weight: 400;
	padding-top: 15px;
}

h5 {
	font-size: 25px;
	font-weight: 400;
	text-indent: 25px;
}

.left {
	width: 50vw;
	text-align: right;
	padding-right: 10%;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
}

.right {
	width: 50vw;
	padding: 5% 5% 5% 10%;
	margin: 20vh 0;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	border-left: black solid 1px;
}

.second {
	background-color: #D9D9D9;
}

.third {
	background-color: #8C8C8C;
}

.fourth {
	background-color: #262626;
	color: #FFFFFF;
}

.column1 {
	padding-right: 10%;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	text-align: right;
	width: 33vw;
}

.column2 {
	padding: 5% 5% 5% 5%;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	border-left: white solid 1px;
	border-right: white solid 1px;
	text-align: center;
	width: 33vw;
}

.column3 {
	padding-left: 7%;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	width: 33vw;
}

.column3 img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 34% 66% 66% 34% / 31% 25% 75% 69%;
	animation: transform 20s ease-in-out infinite both alternate;
}

.third .right {
	display: grid;
	grid-template-columns: 210px 210px;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: start;
}

.third .right img {
	height: 210px;
	width: 210px;
	object-fit: cover;
}

.links {
	display: grid;
	grid-template-columns: 35px 35px 35px;
	justify-content: space-around;
	align-items: center;
	margin-top: 10%;
}

.links svg {
	fill: #FFFFFF;
	transition: fill .2s linear;
}

.github svg:hover {
	fill: #4078c0;
}

.linkedin svg:hover {
	fill: #0077b5;
}

.facebook svg:hover {
	fill: #3b5998;
}

#esimene {
	border-radius: 66% 34% 26% 74% / 47% 41% 59% 53%;
	animation: wobble 15s ease-in-out alternate infinite;
	animation-play-state: paused;
}

#teine {
	border-radius: 28% 72% 57% 43% / 53% 36% 64% 47%;
	animation: wobble 15s ease-in-out alternate infinite;
	animation-play-state: paused;
}

#kolmas {
	border-radius: 14% 86% 73% 27% / 26% 50% 50% 74%;
	animation: wobble 15s ease-in-out alternate infinite;
	animation-play-state: paused;
}

#neljas {
	border-radius: 46% 54% 28% 72% / 48% 77% 23% 52%;
	animation: wobble 15s ease-in-out alternate infinite;
	animation-play-state: paused;
}

#viies {
	border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
	animation: wobble 15s ease-in-out alternate infinite;
	animation-play-state: paused;
}

#kuues {
	border-radius: 66% 34% 26% 74% / 47% 41% 59% 53%;
	animation: wobble 15s ease-in-out alternate infinite;
	animation-play-state: paused;
}

#esimene:hover, #teine:hover, #kolmas:hover, #neljas:hover, #viies:hover, #kuues:hover {
	animation-play-state: running;
}

@keyframes wobble {
  25% {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}
  50% {border-radius: 60% 40% 36% 64% / 29% 72% 28% 71%;}
  75% {border-radius: 19% 81% 80% 20% / 20% 47% 53% 80%;}
  100% {border-radius: 54% 46% 36% 64% / 66% 58% 42% 34%;}
}

@keyframes transform {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}